@page "/detallesVentas"
@using Service.Models
@inject IGenericService<DetalleVenta> DetalleVentasService

<h3>Detalle de Ventas</h3>

@if (DetalleVentas == null)
{
    <p><em>Obteniendo lista de Detalles de Ventas </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VentaId</th>
                <th>Venta</th>
                <th>Producto</th>
                <th>ProductoId</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var detalleVenta in DetalleVentas)
            {
                <tr>
                    <td>@detalleVenta.Id</td>
                    <td>@detalleVenta.VentaId</td>
                    <td>@detalleVenta.Venta</td>
                    <td>@detalleVenta.Producto</td>
                    <td>@detalleVenta.ProductoId</td>
                    <td>@detalleVenta.Cantidad</td>
                    <td>@detalleVenta.PrecioUnitario</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<DetalleVenta>? DetalleVentas;

    protected override async Task OnInitializedAsync()
    {
        DetalleVentas = await DetalleVentasService.GetAllAsync();
    }
}
