@page "/ventas"
@using Service.Models
@inject IGenericService<Venta> VentaService

<h3>Ventas</h3>

@if (ventas == null)
{
    <p><em>Obteniendo lista de Ventas </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>ClienteId</th>
                <th>Cliente</th>
                <th>Detalles de Venta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venta in ventas)
            {
                <tr>
                    <td>@venta.Id</td>
                    <td>@venta.Fecha</td>
                    <td>@venta.ClienteId</td>
                    <td>@venta.Cliente?.Nombre</td>
                    <td>@venta.Detalles?.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Venta>? ventas;

    protected override async Task OnInitializedAsync()
    {
        ventas = await VentaService.GetAllAsync();
    }
}